<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	


	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

	<!-- Lightbox -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

	<!-- Lightbox end -->

	<style>
		.checked {
		  color: orange;
		}
	</style>

	<meta charset="UTF-8">
	<title>Google Search Example</title>
</head>
<body>
	<div class="fluid-container">
		<div class="row">
			<div class="col-md-4 mt-2" style="margin: 0 auto;">
				<select id="search" class="form-control"></select>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-md-6" style="margin: 0 auto;" id="result">

			<div class="d-flex justify-content-center invisible spin">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>

			</div>
		</div>
	</div>
</body>
</html>

<script>
	$(document).ready(function(){
		$("#search").select2({
			ajax: {
			    url: '<%= place_search_path %>',
			    dataType: 'json',
			    processResults: function(data) {
			    	return {
			    		results: $.map(data, function(value, key){
			    			return {id: value.place_id, text: value.structured_formatting.main_text}
			    		})
			    	}
			    }
			  },
			minimumInputLength: 2,
			placeholder: 'Otel ismi yazın'
		});

		$("#search").change(function(value) {
			let place_id = $(this).val();
			$(".spin").removeClass('invisible');

			$.ajax({
				url: '<%= place_detail_path %>?place_id='+place_id,
				success: function(data) {
					$(".spin").addClass('invisible');
					$("#result").html(data);
				},
				error: function() {
					$(".spin").addClass('invisible');
					$("#result").html('Apiden gelmeyen bazı veriler yüzünden sorun oluştu. En kısa zamanda sorunu düzelticez. Ramada, Sheraton vb. bu tarz otellere bakmak ister misiniz?');
				}
			})
		});

		// Lightbox
		$(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

	});
</script>
